<section class="services_wrapper home">
  <div class="head_title">
    <h3>Main Stream Offerings</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/design_cae.png" />
          <h2>Design & CAE Services</h2>
          <p>
            Our design specialists can help you realize your 3-D product and
            simulate for necessary analysis requirements
          </p>
          <a href="#" class="read_more">Read More</a>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/3DPrototyping.jpg" />
          <h2>3D / Rapid Prototyping</h2>
          <p>
            Our prototyping engineers can satisfy your 3-D model to practical
            fit form shape and functionality needs
          </p>
          <a href="#" class="read_more">Read More</a>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/CustomerManufacturing.png" />
          <h2>Custom Manufacturing</h2>
          <p>
            We experienced professionals can support, manufacture any type of
            custom designed products
          </p>
          <a href="services.html" class="read_more">Read More</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/IndustrialAdditiveManufacturing.jpg" />
          <h2>Industrial Additive Manufacturing</h2>
          <p>
            We offer technical and application engineering solutions to make
            metal additive parts and components
          </p>
          <a href="services.html" class="read_more">Read More</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/ReverseEngineering.png" />
          <h2>Reverse Engineering</h2>
          <p>
            Our domain experts help solve missing engineering details through
            analysis and reverse engineering skills
          </p>
          <a href="services.html" class="read_more">Read More</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/ConventionalManufacturing.png" />
          <h2>Conventional Manufacturing</h2>
          <p>
            Our machinists can help with large volume production and as well as
            achieve unique part/component features
          </p>
          <a href="services.html" class="read_more">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
