<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="main_about_area sections">
        <div class="col-sm-12">
          <div class="main_about_content">
            <div class="row">
              <div class="col-sm-7 wow fadeInRight" data-wow-duration="700ms">
                <div class="single_about_right_content">
                  <div class="head_title">
                    <h3>Making Made Interesting</h3>
                    <div class="separator"></div>
                  </div>

                  <div class="single_about">
                    <div class="single_ab_icon">
                      <div class="ab_border_right"></div>
                      <i class="fa fa-question-circle"></i>
                    </div>
                    <div class="single_ab_text">
                      <h3>Why us?</h3>
                      <img src="assets/images/whyus.png" alt="" />
                      <p>
                        With our <b>CCQ FIRST MINDSET</b>, we have crafted our
                        services to provide
                        <b
                          >wings to your thoughts, imaginations and greater
                          horsepower</b
                        >
                        to your in-hoyse capabilities.
                      </p>
                    </div>
                  </div>
                  <div class="single_about">
                    <div class="single_ab_icon">
                      <i class="fa fa-gears"></i>
                    </div>
                    <div class="single_ab_text">
                      <h3>Our Capabilities</h3>
                      <img src="assets/images/capabilities.png" alt="" />
                      <p>
                        We bring in a Team of highly experienced individuals
                        with
                        <b
                          >knowledge of DfAM, 3D printing Processes &
                          Technologies, On-field Specialists, Conventional
                          Manufacturing</b
                        >
                        and more ...
                      </p>
                    </div>
                  </div>
                  <div class="single_about">
                    <div class="single_ab_icon">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="single_ab_text">
                      <h3>Actions We Strive</h3>
                      <img src="assets/images/actions.png" alt="" />
                      <ul>
                        <li>Think Innovative</li>
                        <li>Translate Ideas Into Reality</li>
                        <li>Enable Quick Experimentation</li>
                        <li>Approach To Learn-Unlearn-Relearn</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
