<section>
    <div class="progress-wrapper">
        <h3>>>Work Order Format Replication</h3>
        <app-step-pprogress-bar></app-step-pprogress-bar>
        <div class="row circle-progress-wrapper">

            <div class="col">
                <div class="card progres-activities" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h3>Work Title</h3>
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                    </ul>
                </div>
                <!-- <div class="card mt-5" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                </ul>
            </div> -->
            </div>
            <div class="col">
                <div class="card progres-activities" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h3>Attachments</h3>
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                    </ul>
                </div>
                <!-- <div class="card mt-5" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                </ul>
            </div> -->
            </div>
            <div class="col">
                <div class="card progres-activities" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h3>Comments</h3>
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                        <li class="list-group-item">
                            <!-- <i class="far fa-circle"></i> -->
                        </li>
                    </ul>
                </div>
                <!-- <div class="card mt-5" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                </ul>
            </div> -->
            </div>
        </div>
    </div>
    <div class="progress-wrapper">
        <button class="btn btn-info m-4 center-block  " type="submit">Generate Quote</button>
        <button class="btn btn-info m-4 center-block" type="submit">Need Additional Data</button>
        <button class="btn btn-info m-4 center-block" type="submit">Reject Work Order</button>

    </div>
</section>
<section>
    <div class="progress-wrapper">
        <h3>>>Quotation Dashboard</h3>

        <!-- <img src="../dashboard/maxresdefault.jpg" class="img-responsive"> -->
        <ul class="navbar-nav my_nav_menu">


            <li class="nav-item">
                <i class="fa fa-arrow-alt-circle-right" aria-hidden="true"></i> <button
                    class="btn btn-info m-4 center-block  " type="submit">See Quotation</button>
            </li>
        </ul>

    </div>
    <div class="progress-wrapper">
        <button class="btn btn-info m-4 center-block  " type="submit">Send To Customer</button>
        <button class="btn btn-info m-4 center-block" type="submit">Share For Resourcing</button>
        <button class="btn btn-info m-4 center-block" type="submit">Set up Internal Meeting</button>

    </div>
</section>
<section>
    <div class="progress-wrapper">
        <h3>>>Progress Updates</h3>
        <app-step-progress-bar></app-step-progress-bar>
        <div class="row circle-progress-wrapper">
            <div class="col">
                <circle-progress [percent]="100" [radius]="60" [outerStrokeWidth]="6" [innerStrokeWidth]="2"
                    [outerStrokeColor]="'orange'" [innerStrokeColor]="'lightgrey'" [animation]="true"
                    [animationDuration]="1000">
                </circle-progress>
                <div class="card progres-activities" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p>Daily Logs</p>
                        </li>

                        <li class="list-group-item">
                            <i class="far fa-check-circle"></i>
                        </li>
                        <li class="list-group-item">
                            <i class="far fa-check-circle"></i>
                        </li>
                        <li class="list-group-item">
                            <i class="far fa-check-circle"></i>
                        </li>
                    </ul>
                </div>
                <div class="card mt-5" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Logs</li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <circle-progress [percent]="50" [radius]="60" [outerStrokeWidth]="6" [innerStrokeWidth]="2"
                    [outerStrokeColor]="'orange'" [innerStrokeColor]="'lightgrey'" [animation]="true"
                    [animationDuration]="1000">
                </circle-progress>
                <div class="card progres-activities" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p>Daily Logs</p>
                        </li>

                        <li class="list-group-item">
                            <i class="far fa-check-circle"></i>
                        </li>
                        <li class="list-group-item">
                            <i class="far fa-check-circle"></i>
                        </li>
                        <li class="list-group-item">
                            <i class="far fa-circle"></i>
                        </li>
                    </ul>
                </div>
                <div class="card mt-5" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Logs</li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <circle-progress [percent]="0" [radius]="60" [outerStrokeWidth]="6" [innerStrokeWidth]="2"
                    [outerStrokeColor]="'orange'" [innerStrokeColor]="'lightgrey'" [animation]="true"
                    [animationDuration]="1000">
                </circle-progress>
                <div class="card progres-activities" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p>Daily Logs</p>
                        </li>

                        <li class="list-group-item">
                            <i class="far fa-circle"></i>
                        </li>
                        <li class="list-group-item">
                            <i class="far fa-circle"></i>
                        </li>
                        <li class="list-group-item">
                            <i class="far fa-circle"></i>
                        </li>
                    </ul>
                </div>
                <div class="card mt-5" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Logs</li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="progress-wrapper">
        <p class="h4 mb-4 uk-margin-left m-4"> Update: </p>
        <button class="btn btn-info m-4 center " type="submit">Send Update To Customer</button>
        <button class="btn btn-info m-4 center" type="submit">Set Meeting</button>
    </div>
</section>
<section>
    <div class="progress-wrapper">
        <h3>>>Report Generation</h3>
        <app-step-progress-bar></app-step-progress-bar>
        <div class="row circle-progress-wrapper">
            <div class="col">
                <!-- <circle-progress [percent]="100" [radius]="60" [outerStrokeWidth]="6" [innerStrokeWidth]="2"
                    [outerStrokeColor]="'orange'" [innerStrokeColor]="'lightgrey'" [animation]="true"
                    [animationDuration]="1000">
                </circle-progress> -->
                <!-- <div class="card progres-activities" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p>Daily Logs</p>
                        </li>
    
                        <li class="list-group-item">
                            <i class="far fa-check-circle"></i>
                        </li>
                        <li class="list-group-item">
                            <i class="far fa-check-circle"></i>
                        </li>
                        <li class="list-group-item">
                            <i class="far fa-check-circle"></i>
                        </li>
                    </ul>
                </div> -->
                <div class="card mt-5" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h3>Work Title</h3>
                        </li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <!-- <circle-progress [percent]="50" [radius]="60" [outerStrokeWidth]="6" [innerStrokeWidth]="2"
                    [outerStrokeColor]="'orange'" [innerStrokeColor]="'lightgrey'" [animation]="true"
                    [animationDuration]="1000">
                </circle-progress>
                <div class="card progres-activities" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p>Daily Logs</p>
                        </li>
    
                        <li class="list-group-item">
                            <i class="far fa-check-circle"></i>
                        </li>
                        <li class="list-group-item">
                            <i class="far fa-check-circle"></i>
                        </li>
                        <li class="list-group-item">
                            <i class="far fa-circle"></i>
                        </li>
                    </ul>
                </div> -->
                <div class="card mt-5" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h3>Time Taken</h3>
                        </li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <!-- <circle-progress [percent]="0" [radius]="60" [outerStrokeWidth]="6" [innerStrokeWidth]="2"
                    [outerStrokeColor]="'orange'" [innerStrokeColor]="'lightgrey'" [animation]="true"
                    [animationDuration]="1000">
                </circle-progress>
                <div class="card progres-activities" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p>Daily Logs</p>
                        </li>
    
                        <li class="list-group-item">
                            <i class="far fa-circle"></i>
                        </li>
                        <li class="list-group-item">
                            <i class="far fa-circle"></i>
                        </li>
                        <li class="list-group-item">
                            <i class="far fa-circle"></i>
                        </li>
                    </ul>
                </div>
                 -->
                <div class="card mt-5" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h3>Point Of Contact</h3>
                        </li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <!-- <circle-progress [percent]="0" [radius]="60" [outerStrokeWidth]="6" [innerStrokeWidth]="2"
                                [outerStrokeColor]="'orange'" [innerStrokeColor]="'lightgrey'" [animation]="true"
                                [animationDuration]="1000">
                            </circle-progress>
                            <div class="card progres-activities" style="width: 18rem;">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <p>Daily Logs</p>
                                    </li>
                
                                    <li class="list-group-item">
                                        <i class="far fa-circle"></i>
                                    </li>
                                    <li class="list-group-item">
                                        <i class="far fa-circle"></i>
                                    </li>
                                    <li class="list-group-item">
                                        <i class="far fa-circle"></i>
                                    </li>
                                </ul>
                            </div>
                             -->
                <div class="card mt-5" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h3>Remarks</h3>
                        </li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="progress-wrapper">

        <button class="btn btn-info m-4 center row " type="submit">Generate Project Report</button>
    </div>
    <div class="progress-wrapper">
        <ul class="navbar-nav my_nav_menu">
            <li class="nav-item">
                <button class="btn btn-info m-4 center row " type="submit">Show PR to Customer</button>
            </li>
            <li class="nav-item">
                <i class="fa fa-arrow-down " aria-hidden="true"></i> </li>


            <li class="nav-item">
                <button class="btn btn-info m-4 center-block  " type="submit">Raise Request for Feedback &
                    Testimonial</button>
            </li>
            <li class="nav-item">
                <i class="fa fa-arrow-down" aria-hidden="true"></i> </li>

            <li class="nav-item">
                <button class="btn btn-info m-4 center-block  " type="submit">Close the Project and Raise Payment
                    Request</button>
            </li>

        </ul>

    </div>
</section>