<!-- <section class="content content--ardra">
  <div class="grid">
    <div class="grid__item">
      <div class="dummy">
        <svg>
          <use xlink:href="#icon-folderdummy"></use>
        </svg>
      </div>
    </div>
    <div class="grid__item">
      <div class="dummy">
        <svg>
          <use xlink:href="#icon-folderdummy"></use>
        </svg>
      </div>
    </div>
    <div class="grid__item">
      <div class="dummy">
        <svg>
          <use xlink:href="#icon-folderdummy"></use>
        </svg>
      </div>
    </div>
    <div class="grid__item">
      <div class="dummy">
        <svg>
          <use xlink:href="#icon-folderdummy"></use>
        </svg>
      </div>
    </div>
    <div class="grid__item">
      <div class="dummy">
        <svg>
          <use xlink:href="#icon-folderdummy"></use>
        </svg>
      </div>
    </div>
    <div class="grid__item">
      <div class="dummy">
        <svg>
          <use xlink:href="#icon-folderdummy"></use>
        </svg>
      </div>
    </div>
    <div class="grid__item">
      <div class="dummy">
        <svg>
          <use xlink:href="#icon-folderdummy"></use>
        </svg>
      </div>
    </div>
    <div class="grid__item">
      <div class="folder folder--ardra">
        <div class="folder__feedback"></div>
        <div class="folder__preview folder__preview--thumbs">
          <img class="folder__thumb" src="assets/img/photo1.png" />
          <img class="folder__thumb" src="assets/img/photo2.png" />
          <img class="folder__thumb" src="assets/img/photo3.png" />
          <img class="folder__thumb" src="assets/img/photo4.png" />
          <img class="folder__thumb" src="assets/img/photo5.png" />
          <img class="folder__thumb" src="assets/img/photo6.png" />
          <img class="folder__thumb" src="assets/img/photo7.png" />
          <img class="folder__thumb" src="assets/img/photo8.png" />
        </div>
        <div class="folder__icon">
          <div class="folder__icon-img folder__icon-img--back">
            <svg class="folder__icon-svg">
              <use xlink:href="#icon-folderback"></use>
            </svg>
          </div>
          <div class="folder__icon-img folder__icon-img--cover">
            <svg class="folder__icon-svg">
              <use xlink:href="#icon-foldercover"></use>
            </svg>
            <svg class="folder__icon-svg folder__icon-svg--deco">
              <use xlink:href="#icon-globe"></use>
            </svg>
          </div>
        </div>
        <h3 class="folder__caption">Ardra</h3>
      </div>
    </div>
    <div class="grid__item">
      <div class="dummy">
        <svg>
          <use xlink:href="#icon-folderdummy"></use>
        </svg>
      </div>
    </div>
    <div class="grid__item">
      <div class="dummy">
        <svg>
          <use xlink:href="#icon-folderdummy"></use>
        </svg>
      </div>
    </div>
    <div class="grid__item">
      <div class="dummy">
        <svg>
          <use xlink:href="#icon-folderdummy"></use>
        </svg>
      </div>
    </div>
    <div class="grid__item">
      <div class="dummy">
        <svg>
          <use xlink:href="#icon-folderdummy"></use>
        </svg>
      </div>
    </div>
    <div class="grid__item">
      <div class="dummy">
        <svg>
          <use xlink:href="#icon-folderdummy"></use>
        </svg>
      </div>
    </div>
    <div class="grid__item">
      <div class="dummy">
        <svg>
          <use xlink:href="#icon-folderdummy"></use>
        </svg>
      </div>
    </div>
    <div class="grid__item">
      <div class="dummy">
        <svg>
          <use xlink:href="#icon-folderdummy"></use>
        </svg>
      </div>
    </div>
  </div>
  <!-- /grid-->
<!-- </section> -->

<!-- <script>
  (function() {
    // new DeviFx(document.querySelector(".content--devi .folder--devi"));
    // new RudrasFx(
    //   document.querySelector(".content--rudras .folder--rudras")
    // );
    new ArdraFx(document.querySelector(".content--ardra .folder--ardra"));
    // new ShaktiFx(
    //   document.querySelector(".content--shakti .folder--shakti")
    // );
    // new KuberaFx(
    //   document.querySelector(".content--kubera .folder--kubera")
    // );
    // new HariFx(document.querySelector(".content--hari .folder--hari"));
    // new RaviFx(document.querySelector(".content--ravi .folder--ravi"));
    // new DurgaFx(document.querySelector(".content--durga .folder--durga"));
    // new NandiFx(document.querySelector(".content--nandi .folder--nandi"));
  })();
</script> -->

<div class="circle_menu" #circle_menu>
  <div class="circle_menu__icon">
    <img class="circle_menu-img" src="assets/images/logo.png" />
    <div class="circle_menu__feedback"></div>
    <div class="circle_menu__preview">
      <img
        src="assets/images/Images for animation/2D Drafting and GD&T Validation.png"
      />
      <img
        src="assets/images/Images for animation/3D CAD Model Conversion.png"
      />
      <img src="assets/images/Images for animation/3D Meshing.png" />
      <img src="assets/images/Images for animation/3D Prototyping.jpg" />
      <img src="assets/images/Images for animation/3D Scanning.png" />
      <img src="assets/images/Images for animation/Cad Modeling Service.png" />
      <img
        src="assets/images/Images for animation/Conventional Manufacturing.png"
      />
      <img
        src="assets/images/Images for animation/Custom Tool Development.png"
      />
      <img
        src="assets/images/Images for animation/Design For Assembly Validation.png"
      />
      <img
        src="assets/images/Images for animation/Design For Manufacturing Validation.png"
      />
      <img
        src="assets/images/Images for animation/Metal Additive Manufacturing.jpg"
      />
      <img src="assets/images/Images for animation/Reverse Engineering.png" />
    </div>
  </div>
</div>
