<section id="footer" class="footer_widget">
    <div class="video_overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="main_widget">
                            <div class="col-sm-3 col-xs-12">
                                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                    <div class="footer_logo">
                                        <img src="assets/images/logo.png" alt="" />
                                    </div>
                                    <p>
                                        Printalytix Private Limited 37, 1 st Floor, 8 th Cross, 5 th
                                        Main, Srinidhi Layout, Konankunte Cross, Bangalore - 560064
                                        Email-id: info@printalytix.com Phone: 998-687-3546/
                                        900-825-0815
                                    </p>
                                </div>
                            </div>

                            <div class="col-sm-3  col-xs-12">
                                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                    <div class="footer_title">
                                        <h4>SITEMAP</h4>
                                        <div class="separator"></div>
                                    </div>
                                    <ul>
                                        <li><a href="">Services</a></li>
                                        <li><a href="">About Us</a></li>
                                        <li><a href="">Our Team</a></li>
                                        <li><a href="">Portfolio</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-3 col-xs-12">
                                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                    <div class="footer_title">
                                        <h4>NEWSLETTER</h4>
                                        <div class="separator"></div>
                                    </div>

                                    <div class="footer_subcribs_area">
                                        <p>
                                            Sign up for our mailing list to get latest updates and
                                            offers.
                                        </p>
                                        <form class="navbar-form navbar-left" role="search">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Search" />
                                                <button type="submit" class="submit_btn"></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>