<section id="team" class="team">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main_team sections">
          <div class="row">
            <div class="head_title">
              <h3>OUR TEAM</h3>
              <div class="separator"></div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="single_team_content">
                <div class="single_team_img">
                  <img src="assets/images/team1.jpg" alt="" />
                </div>
                <div class="single_team_text_overlay">
                  <h4>SEMF UCUK</h4>
                  <p>FOUNDER</p>
                  <div class="team_overlay_socail">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-xs-12">
              <div class="single_team_content">
                <div class="single_team_img">
                  <img src="assets/images/team2.jpg" alt="" />
                </div>
                <div class="single_team_text_overlay">
                  <h4>DIK ADALIN</h4>
                  <p>ENGINEERING</p>
                  <div class="team_overlay_socail">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-xs-12">
              <div class="single_team_content">
                <div class="single_team_img">
                  <img src="assets/images/team3.jpg" alt="" />
                </div>
                <div class="single_team_text_overlay">
                  <h4>JENG KOL</h4>
                  <p>DESIGNER</p>
                  <div class="team_overlay_socail">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-xs-12">
              <div class="single_team_content">
                <div class="single_team_img">
                  <img src="assets/images/team4.jpg" alt="" />
                </div>
                <div class="single_team_text_overlay">
                  <h4>PET ROMAK</h4>
                  <p>MARKETING</p>
                  <div class="team_overlay_socail">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of col-sm-4 -->
          </div>
        </div>
        <!-- End of main team contant -->
      </div>
    </div>
    <!-- End of row -->
  </div>
</section>
<section id="footer" class="footer_widget">
  <div class="video_overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="main_widget">
              <div class="col-sm-3 col-xs-12">
                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                  <div class="footer_logo">
                    <img src="assets/images/logo.png" alt="" />
                  </div>
                  <p>
                    Printalytix Private Limited 37, 1 st Floor, 8 th Cross, 5 th
                    Main, Srinidhi Layout, Konankunte Cross, Bangalore - 560064
                    Email-id: info@printalytix.com Phone: 998-687-3546/
                    900-825-0815
                  </p>
                </div>
              </div>

              <div class="col-sm-3  col-xs-12">
                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                  <div class="footer_title">
                    <h4>SITEMAP</h4>
                    <div class="separator"></div>
                  </div>
                  <ul>
                    <li><a href="">Services</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Our Team</a></li>
                    <li><a href="">Portfolio</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-3 col-xs-12">
                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                  <div class="footer_title">
                    <h4>NEWSLETTER</h4>
                    <div class="separator"></div>
                  </div>

                  <div class="footer_subcribs_area">
                    <p>
                      Sign up for our mailing list to get latest updates and
                      offers.
                    </p>
                    <form class="navbar-form navbar-left" role="search">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search"
                        />
                        <button type="submit" class="submit_btn"></button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
