<section id="team" class="team">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main_team sections">
          <div class="head_title">
            <h3>OUR TEAM</h3>
            <div class="separator"></div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <div class="single_team_content">
                <div class="single_team_img">
                  <img src="assets/images/team1.jpg" alt="" />
                </div>
                <div class="single_team_text_overlay">
                  <h4>SEMF UCUK</h4>
                  <p>FOUNDER</p>
                  <div class="team_overlay_socail">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-xs-12">
              <div class="single_team_content">
                <div class="single_team_img">
                  <img src="assets/images/team2.jpg" alt="" />
                </div>
                <div class="single_team_text_overlay">
                  <h4>DIK ADALIN</h4>
                  <p>ENGINEERING</p>
                  <div class="team_overlay_socail">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-xs-12">
              <div class="single_team_content">
                <div class="single_team_img">
                  <img src="assets/images/team3.jpg" alt="" />
                </div>
                <div class="single_team_text_overlay">
                  <h4>JENG KOL</h4>
                  <p>DESIGNER</p>
                  <div class="team_overlay_socail">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-xs-12">
              <div class="single_team_content">
                <div class="single_team_img">
                  <img src="assets/images/team4.jpg" alt="" />
                </div>
                <div class="single_team_text_overlay">
                  <h4>PET ROMAK</h4>
                  <p>MARKETING</p>
                  <div class="team_overlay_socail">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of col-sm-4 -->
          </div>
        </div>
        <!-- End of main team contant -->
      </div>
    </div>
    <!-- End of row -->
  </div>
</section>