<section class="services_wrapper home">
  <div class="head_title">
    <h3>Micro Services</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/Images for animation/2D Drafting and GD&T Validation.png" />
          <h2>2D Drafting and GD&T Validation</h2>
          <p>

          </p>
          <a href="#" class="read_more">Read More</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/Images for animation/3D Scanning.png" />
          <h2>3D Scanning</h2>
          <a href="#" class="read_more">Read More</a>
          <p>

          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/Images for animation/3D CAD Model Conversion.png" />
          <h2>3D CAD Model Conversion</h2>
          <a href="services.html" class="read_more">Read More</a>
          <p>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/Images for animation/3D Meshing.png" />
          <h2>3D Meshing</h2>
          <p>
          </p>
          <a href="services.html" class="read_more">Read More</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/Images for animation/Design For Assembly Validation.png" />
          <h2>Design For Assembly Validation</h2>
          <p></p>
          <a href="services.html" class="read_more">Read More</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/Images for animation/Design For Manufacturing Validation.png" />
          <h2>Design For Manufacturing Validation</h2>
          <p>
          </p>
          <a href="services.html" class="read_more">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>