<section class="services_wrapper home">
  <div class="head_title">
    <h3>Add-on Offerings</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/WorkshopsAndIndustryTrainings.png" />
          <h2>Workshops & Industry Trainings</h2>
          <p>
            Our learning sessions are helpful to generate awareness about latest
            in advanced manufacturing methods such as additive technologies
          </p>
          <a href="#" class="read_more">Read More</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/Hackathons.png" />
          <h2>Makeathons/Hackathons</h2>
          <a href="#" class="read_more">Read More</a>
          <p>
            We offer equipment, expertise and learning support for recognized
            events such hackathons, makeathons
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/MakeIOTHappen.png" />
          <h2>Make IoT Happen</h2>
          <a href="services.html" class="read_more">Read More</a>
          <p>
            We have apt experience in Robotics, Telcos, Tech Giants, Drone
            manufacturers, etc. helping them through custom solution design for
            hardware
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/Learn-o-Labs.png" />
          <h2>Learn-o-Labs (LoL)</h2>
          <p>
            We have flexible plans to enable hands-on learning over imagination/
            visualization through LOL: 3D Printer + learning curriculum packages
            in a laboratory-like environment
          </p>
          <a href="services.html" class="read_more">Read More</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/DigitalModellingCloning.png" />
          <h2>Digital Modelling & Cloning (DMC)</h2>
          <p>Let us know if you have an idea of a ‘product’ on your mind</p>
          <a href="services.html" class="read_more">Read More</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service_item">
          <img src="assets/images/CorporateGifting.png" />
          <h2>Corporate Gifting</h2>
          <p>
            We have printed ~ 100 materials for gifting requirements and can
            customize the design for your organizational needs
          </p>
          <a href="services.html" class="read_more">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
