<app-home></app-home>
<app-main-stream-offerings></app-main-stream-offerings>
<app-add-on-offerings></app-add-on-offerings>
<app-about></app-about>
<video width="100%" height="400px" controls>
  <source
    src="assets/Printalytix_Making_Made_Interesting_Final.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<app-features></app-features>
<app-team></app-team>

<!-- <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="circle_menu">
      <div class="circle_menu__icon">
        <img class="circle_menu-img" src="assets/images/logo.png" />
        <div class="circle_menu__feedback"></div>
        <div class="circle_menu__preview">
          <img src="assets/images/design_cae.png" />
          <img src="assets/images/3DPrototyping.jpg" />
          <img src="assets/images/CustomerManufacturing.png" />
          <img src="assets/images/IndustrialAdditiveManufacturing.jpg" />
          <img src="assets/images/ReverseEngineering.png" />
          <img src="assets/images/ConventionalManufacturing.png" />
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="circle_menu">
  <div class="circle_menu__icon">
    <img class="circle_menu-img" src="assets/images/logo.png" />
    <div class="circle_menu__feedback"></div>
    <div class="circle_menu__preview">
      <img src="assets/images/design_cae.png" />
      <img src="assets/images/3DPrototyping.jpg" />
      <img src="assets/images/CustomerManufacturing.png" />
      <img src="assets/images/IndustrialAdditiveManufacturing.jpg" />
      <img src="assets/images/ReverseEngineering.png" />
      <img src="assets/images/ConventionalManufacturing.png" />
    </div>
  </div>
</div>
