<div class="progress-wrapper">
  <app-step-progress-bar></app-step-progress-bar>
  <div class="row circle-progress-wrapper">
    <div class="col">
      <circle-progress
        [percent]="100"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
      >
      </circle-progress>
      <div class="card progres-activities" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="far fa-check-circle"></i>Cras justo odio
          </li>
          <li class="list-group-item">
            <i class="far fa-check-circle"></i>Dapibus ac facilisis in
          </li>
          <li class="list-group-item">
            <i class="far fa-check-circle"></i>Vestibulum at eros
          </li>
        </ul>
      </div>
      <div class="card mt-5" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <circle-progress
        [percent]="50"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
      >
      </circle-progress>
      <div class="card progres-activities" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="far fa-check-circle"></i>Cras justo odio
          </li>
          <li class="list-group-item">
            <i class="far fa-check-circle"></i>Dapibus ac facilisis in
          </li>
          <li class="list-group-item">
            <i class="far fa-circle"></i>Vestibulum at eros
          </li>
        </ul>
      </div>
      <div class="card mt-5" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <circle-progress
        [percent]="0"
        [radius]="60"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
      >
      </circle-progress>
      <div class="card progres-activities" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="far fa-circle"></i>Cras justo odio
          </li>
          <li class="list-group-item">
            <i class="far fa-circle"></i>Dapibus ac facilisis in
          </li>
          <li class="list-group-item">
            <i class="far fa-circle"></i>Vestibulum at eros
          </li>
        </ul>
      </div>
      <div class="card mt-5" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
</div>
