<form class="text-center border border-light p-5">

    <!-- <div class="card-header" style="color:orange">
        <p class="h4 mb-4">Login</p>
       </div> -->
    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password"
        aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>


    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" (click)="Login()" type="submit">Login</button>


    <hr>
    <a routerLink="../register" style="color: orange">Register</a>


</form>