<section id="features" class="features">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main_features_area sections">
          <div class="head_title">
            <h3>Check out our blog!</h3>
            <div class="separator"></div>
          </div>
          <div class="row">
            <div class="main_features_content">
              <div class="col-sm-6">
                <div class="single_features_slide">
                  <div class="single_ft_s_item">
                    <img src="assets/images/featureslid1.jpg" alt="" />
                  </div>
                  <div class="single_ft_s_item">
                    <img src="assets/images/hand.JPG" alt="" />
                  </div>
                  <div class="single_ft_s_item">
                    <img src="assets/images/einstein.JPG" alt="" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="single_features_text">
                  <h4>HAND WITH A WATCH</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled
                  </p>

                  <ul>
                    <li><span>Client:</span> Dadit Lorm</li>
                    <li><span>Deivered:</span> Sunday, 15 August, 2015</li>
                    <li><span>Tags:</span> Hand, Watch, Black, Tree</li>
                  </ul>

                  <a href="" class="btn">LAUNCH NOW</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
