<section id="home" class="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
          <div class="main_home_slider text-center">
            <div class="single_home_slider">
              <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                <h1>WELCOME TO PRINTALYTIX</h1>
                <p>Making Made Interesting!</p>
              </div>
            </div>
            <div class="single_home_slider">
              <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                <h1>HOW CAN WE HELP MAKE YOUR IMAGINATIONS COME TRUE TODAY?</h1>
                <img src="" />
              </div>
            </div>
            <div class="single_home_slider">
              <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                <h1>24/ 7 REAL-TIME PROFESSIONAL SERVICE</h1>
                <img src="" />
              </div>
            </div>
            <div class="single_home_slider">
              <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                <h1>IOT CUSTOMER STORY</h1>
                <p></p>
              </div>
            </div>
            <div class="single_home_slider">
              <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                <h1>AUTOMOBILE CUSTOMER STORY</h1>
                <p></p>
              </div>
            </div>
            <div class="single_home_slider">
              <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                <h1>CORPORATE SUMMARY</h1>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
