<section class="enq-form-wrapper">
  <form class="text-center border border-light p-5">
    <p class="h4 mb-4">How can we help you?</p>

    <div class="form-row mb-4">
      <div class="col">
        <!-- Design Reference no -->
        <input type="text" id="refno" class="form-control" placeholder="Prototype Reference no" />
      </div>
      <div class="col">
        <!-- Project name -->
        <input type="text" id="project_name" class="form-control" placeholder="Prototype Name" />
      </div>
    </div>
    <p class="text-left medium  h5 mb-4">Expected Project Completion</p>
    <div class="row">
      <input type="date" id="defaultRegisterFormEmail" class="form-control col-3 mb-4"
        aria-label="Expected Project Completion" />
    </div>

    <p class="text">
      <textarea name="text" class="form-control mb-4" placeholder="Short Prototype Description"></textarea>
    </p>
  </form>
</section>
<section>
  <form class="text-left border border-light p-5">
    <p class="h4 mb-4">
      What Product/System are you requesting the CAD/3D Model for?
    </p>
    <p class="text">
      <textarea name="text" class="form-control mb-4"></textarea>
    </p>
    <p class="h4 mb-4">
      Specify any particular software(s) or version preferences.
    </p>
    <input type="software" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Software Preferences" />
    <p class="h4 mb-4">Specify design file format preferences.</p>
    <input type="fileformat" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="File Preference" />
    <p class="h4 mb-4">
      Mention details on attachments/Pdfs/Drawings/Images(If Any)
    </p>
    <input type="attachments" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Attachments" />
    <p class="h4 mb-4">Estimated monthly/annual requirement.</p>
    <input type="requirement" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Requirement" />
    <p class="h4 mb-4">Do you have recurring need for the prototype?</p>
    <input type="requirement" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Requirement" />
    <p class="h4 mb-4">Upload files</p>
    <a class="btn btn-info my-4 btn-block" href="#" type="submit">Submit</a>
    <!-- </section> -->
  </form>
</section>